/* Basic body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure body takes up full height */
  overflow-x: hidden; /* Prevent horizontal scroll */
  overflow-y: auto; /* Allow vertical scrolling for content */
}

h1 {
  color: #003b5c;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}



/* Centered Navbar */
.navbar {
  margin-bottom: 0;
  z-index: 100;
}

.navbar-nav-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-nav-center .nav-item {
  margin-right: 20px;
}

.navbar-nav-center .nav-link {
  color: #0052A5;
  font-weight: 500;
}

.navbar-nav-center .nav-link:hover {
  color: #003a80; /* Hover effect for links */
}
